body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

form {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #000000;
}

input[type="submit"], input[type="reset"] {
  background-color: #4CAF50;
  color: #ff2e2e;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: #3e8e41;
}

#error-nombre, #error-email, #error-telefono, #error-mensaje {
  color: #red;
  font-size: 12px;
  margin-bottom: 10px;
}